<%-include ('head')%>
  <body>
    <div class="container">
        <div>
            <h1>Something went wrong, please try again</h1>
            <a href="/service">Home</a>
        </div>
    </div>
  </body>
</html>