<%-include ('head')%>
  <body>
    <div class="container">
        <div>
            <h2>Your request has been submitted. You are currently number <%=num%> in queue.<br> Thank you for your patience.</h2>
            <a href="/service">Home</a>
        </div>
    </div>
  </body>
</html>